<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper"></div>
    <!-- /#sidebar-wrapper -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid datamng-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content-toolbar">

                        <a href="#menu-toggle" class="btn btn-default page-content-toolbar-btn" id="menu-toggle">
                            <span class="icojam_linen"></span>
                        </a>

                    </div>

                    <div id="data-mng-menu-container"></div>

                    <div id="main-container" class="container-fluid fx-datamng-holder"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Page Footer -->
<div class="container">
    <footer>
        <p>2015 FENIX · <a href="#">Terms</a></p>
    </footer>
</div>