<table class="table table-border" border="0" cellspacing="0" cellpadding="0" width="591" >
    <tbody>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >*</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Projection</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap="">
            <p class="MsoNormal" ><b><span >AN</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Assemblée Nationale</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >BM</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Banque Mondiale</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >BUCREP</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Bureau Central de Recensement et d'Etude de la
               population au Cameroun</span>
            </p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >CDE</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Camerounaise des Eaux</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >DESA</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Direction des Enquêtes des Statistiques Agricoles</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >DIRMET</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Direction de la météorologie</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >ECAM3</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Troisième Enquête Camerounaise Auprès des Ménages</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >EDS</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Enquête Démographique et de Santé</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >EESI</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Enquête sur l'Emploi et le Secteur Informel</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >FMI</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Fonds Monétaire International</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >HYSACAM</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Hygiène et salubrité du Cameroun</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >INS </span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Institut National de la Statistique</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >MICS</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Enquête par Grappe à Indicateurs Multiples</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >MINADER</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Ministère de l'Agriculture et du Développement Rural</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >MINCOMMERCE</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Ministère du Commerce</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >MINEPIA</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Ministère de l'Elevage des Pêches et des Industries
               Animales</span>
            </p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >MINFI</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Ministère des Finances</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >MINFOF</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Ministère des Forêts et de la Faune</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >MINTRANSPORT</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Ministère des Transports</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >PNUD</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Programme des Nations Unies pour le Développement</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" >
            <p class="MsoNormal" ><b><span >RGPH</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Recensement Général de la Population et de l'Habitat</span></p>
        </td>
    </tr>
    <tr >
        <td width="121" nowrap=""
                >
            <p class="MsoNormal" ><b><span >UNICEF</span></b></p>
        </td>
        <td width="469" nowrap="" valign="bottom" >
            <p class="MsoNormal" ><span >Fonds des Nations unies pour l'enfance</span></p>
        </td>
    </tr>
    </tbody>
</table>